SECRET_KEY = 'ENTER YOUR OWN STUFF HERE'

#SQL Lite Database
DATABASES = {
		'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
'''
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'hpe',
        'USER': 'admin',
        'PASSWORD': 'Naman123',
        'HOST': 'nshenoy.com',
        'PORT': '',
    }
}
'''
