{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content_block %}
    <script src="{% static 'js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/healthscore.js' %}"></script>
    <script>
        $(document).ready(function () {

            var sparklineCharts = function () {
                $("#AcksPie").sparkline([{%if latest_server_record.delAcks %}{{ latest_server_record.delAcks }}{%else%}0{%endif%}, {%if latest_server_record.totalWriteIOsHistVlun %}{{ latest_server_record.totalWriteIOsHistVlun}}{%else%}0{%endif%}], {
                    type: 'pie',
					highlightLighten: '1.1',
                    tooltipFormat: '<span style="color: {{"{{color}"}}}">&#9679;</span> {{"{{offset:offset}"}}} ({{"{{percent.1}"}}}%)',
                    tooltipValueLookups: {
                        'offset': {
                            0: 'Delayed ACKs',
                            1: 'Total IO Requests',
                        },
                    },
                    height: '140',
                    sliceColors: ['#1ab394', '#e6a20a'],
                });

                $("#DedupeUsagePie").sparkline([{%if latest_server_record.ddsSizeUsedTiB %}{{ latest_server_record.ddsSizeUsedTiB|add:"0" }}{%else%}0{%endif%},
                    {%if latest_server_record.ddsSizeUsedTiB %}{{ current_server.capacity_total_sizeTiB|add:"0" }}{%else%}0{%endif%}], {
                    type: 'pie',
					highlightLighten: '1.1',
                    tooltipFormat: '<span style="color: {{"{{color}"}}}">&#9679;</span> {{"{{offset:offset}"}}} ({{"{{percent.1}"}}}%)',
                    tooltipValueLookups: {
                        'offset': {
                            0: 'Dedupe Size',
                            1: 'Total Capacity',
                        },
                    },
                    height: '140',
                    sliceColors: ['#1ab394', '#e6a20a']
                });
                var capacitydistribution_values = [{%if current_server.capacity_byType_fc_sizeTiB %}{{ current_server.capacity_byType_fc_sizeTiB|add:"0" }}{%else%}0{%endif%}, {%if current_server.capacity_byType_nl_sizeTiB %}{{ current_server.capacity_byType_nl_sizeTiB|add:"0" }}{%else%}0{%endif%}, {%if current_server.capacity_byType_ssd_sizeTiB %}{{  current_server.capacity_byType_ssd_sizeTiB|add:"0" }}{%else%}0{%endif%}]
                $("#CapacityDistributuionPie").sparkline(capacitydistribution_values,
                    {
                        type: 'pie',
						highlightLighten: '1.1',
                        tooltipFormat: '<span style="color: {{"{{color}"}}}">&#9679;</span> {{"{{offset:offset}"}}} ({{"{{percent.1}"}}}%)',
                        tooltipValueLookups: {
                            'offset': {
                                0: 'FC Size (TiB)',
                                1: 'NL Size (TiB)',
                                2: 'SSD Size (TiB)'
                            },
                        },
                        height: '140',
                        sliceColors: ['#1ab394', '#7580e3', '#e6a20a']
                    });
                var deduplesizeline_values = [{% for record in all_server_records_dedupe_size %}{{ record }}{% if not forloop.last and record != NULL%}, {% endif %}{% endfor %}];
                $("#DedupeSizeLine").sparkline(deduplesizeline_values,
                    {
                        type: 'line',
                        width: '100%',
                        height: '200',
                        lineColor: '#1ab394',
                        fillColor: "#ffffff",
                        tooltipFormat: '{{"Date: {{offset:offset}"}}}<br>Size: {{"{{y}"}}} TiB',
                        tooltipValueLookups: {
                            'offset': {
                                {% for date in all_server_records_date %}{{ forloop.counter|sub:'1' }}:
                                '{{ date }}'{% if not forloop.last%},
                                {% endif %}{% endfor %}
                            }
                        }
                    });
                if($("#healthScore").find("canvas").length == 0)
                    $("#healthScore").append(createHealthscore({{current_server.healthscore.healthscore}}/100, 180, 90, 3, true));
            };

            var sparkResize;

            $(window).resize(function (e) {
                clearTimeout(sparkResize);
                sparkResize = setTimeout(sparklineCharts, 500);
            });

            sparklineCharts();


        });

    </script>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>{{ company_name }} / Server Details: {{ current_server }}</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="server-table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th title="Serial Number of the server">Serial Number</th>
                                <th title="Company that runs the server">Company Name</th>
                                <th title="Server model">System Model</th>
                                <th title="Total capacity across all media types">Total Capacity</th>
								<th title="Percent remaining capactiy of all media types ">Remaining Percentage</th>
                                <th title="System server was installed">Install Date</th>
                                <th title="Ratio of actual data to de-duplicated data">Dedupe Ratio</th>
                                <th title="Current Kernel version of system">Kernel version</th>
                                <th title="Number of virtual volumes contained in the server">Virtual Volumes</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>{{ current_server.serialNumberInserv }}</td>
                                <td>{{ current_server.system_companyName }}</td>
                                <td>{{ current_server.system_model }}</td>
                                <td>{{ current_server.capacity_total_sizeTiB|floatformat:3  }}</td>
								<td>{{ current_server.capacity_total_freePct|floatformat:3  }}</td>
                                <td>{{ current_server.system_installDate }}</td>
                                <td>{% if current_server.capacity_total_dedupeRatio %}{{ current_server.capacity_total_dedupeRatio }}{% else %}0{%endif%} %</td>
                                <td>{{ latest_server_record.tpdKernelPatch }}</td>
                                <td>{{ latest_server_record.vvCountHistVlun }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $(".clickable-row").click(function () {
                            window.location = $(this).data("url");
                        });
                    });
                </script>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Latest DelAcks</h3>
                    <small>
						{% if latest_server_record.delAcks or  latest_server_record.totalWriteIOsHistVlun %}
						<svg width="10" height="10">
						  <rect width="10" height="10" style="fill:#1ab394" />
						</svg>
						DelayedACKs: {{ latest_server_record.delAcks|floatformat:2 }}<br>
						<svg width="10" height="10">
						  <rect width="10" height="10" style="fill:#e6a20a" />
						</svg>
						Total IO: {{ latest_server_record.totalWriteIOsHistVlun|floatformat:2 }}
						<br /><br />
						{% else %}
						No ACK data<br /><br /><br />
						{% endif %}
						{% if latest_server_record.delAcks == 0.00 and  latest_server_record.totalWriteIOsHistVlun == 0.00 %}
						No ACK data<br /><br /><br />
						{% endif %}
                    </small>
                    <hr>
                    <div class="text-center">
                        <div id="AcksPie"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Dedupe Storage Usage</h3>
                    <small>{% if latest_server_record.ddsSizeUsedTiB and current_server.capacity_total_sizeTiB %}
						<svg width="10" height="10">
						  <rect width="10" height="10" style="fill:#1ab394" />
						</svg>
						Dedupe Size: {{ latest_server_record.ddsSizeUsedTiB|floatformat:2 }} TiB<br>
						<svg width="10" height="10">
						  <rect width="10" height="10" style="fill:#e6a20a" />
						</svg>
						Total Size: {{ current_server.capacity_total_sizeTiB|floatformat:2 }} TiB
						<br /><br />
						{% else %}No Dedupe store<br /><br /><br />{% endif %}
                    </small>
                    <hr>
                    <div class="text-center">
                        <div id="DedupeUsagePie"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Storage Distribution</h3>
                    <small>
						{% if current_server.capacity_byType_fc_sizeTiB or current_server.capacity_byType_nl_sizeTiB or current_server.capacity_byType_ssd_sizeTiB %}
						<svg width="10" height="10">
						  <rect width="10" height="10" style="fill:#e6a20a" />
						</svg>
						SSD Size: {%if current_server.capacity_byType_ssd_sizeTiB %}{{ current_server.capacity_byType_ssd_sizeTiB|floatformat:2 }}{% else %}0{%endif%} TiB<br>
						<svg width="10" height="10">
						  <rect width="10" height="10" style="fill:#7580e3" />
						</svg>
						NL Size: {%if current_server.capacity_byType_nl_sizeTiB %}{{ current_server.capacity_byType_nl_sizeTiB|floatformat:2	 }}{% else %}0{%endif%} TiB<br />
						<svg width="10" height="10">
						  <rect width="10" height="10" style="fill:#1ab394" />
						</svg>
						FC Size: {%if current_server.capacity_byType_fc_sizeTiB %}{{ current_server.capacity_byType_fc_sizeTiB|floatformat:2	 }}{% else %}0{%endif%} TiB
						{% else %}
						No data exists
						{% endif %}
                    </small>
                    <hr>
                    <div class="text-center">
                        <div id="CapacityDistributuionPie"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HTML NEEDED FOR THE IMPORTANT MESSAGE MODAL POPUP -->

    <div class="modal fade " id="healthscore-modal" tabindex="-1" role="dialog" aria-labelledby="important-msg-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="important-msg-label">Healthscore Factors</h4>
          </div>
          <div class="modal-body">
            <table id="healthfactors-table" class="table table-bordered table-striped">
                <p>
                    The server health score is calculated based on nine datapoints. Below you can see how each one is affecting your server's score. 
                </p>
                <thead>
                    <th title="Health score factor">Factor</th>
                    <th title="Percentage">Percentage</th>
                </thread>
                <tbody>
                    <tr>
                        <td>Free space</td>
                        <td>{{current_server.healthscore.capacity_total_freePct}}%</td>
                    </tr>
                    <tr>
                        <td>Delayed acknowledgements</td>
                        <td>{{current_server.healthscore.delAcksPct}}%</td>
                    </tr>
                    <tr>
                        <td>Read bandwidth</td>
                        <td>{{current_server.healthscore.portReadBandwidthMBPS}}%</td>
                    </tr>
                    <tr>
                        <td>Write bandwidth</td>
                        <td>{{current_server.healthscore.portWriteBandwidthMBPS}}%</td>
                    </tr>
                    <tr>
                        <td>Average CPU usage</td>
                        <td>{{current_server.healthscore.cpuLatestTotalAvgPct}}%</td>
                    </tr>
                    <tr>
                        <td>Max CPU usage</td>
                        <td>{{current_server.healthscore.cpuLatestTotalMaxPct}}%</td>
                    </tr>
                    <tr>
                        <td>Offline nodes</td>
                        <td>{{current_server.healthscore.nodeCountOffline}}%</td>
                    </tr>
                    <tr>
                        <td>Missing nodes</td>
                        <td>{{current_server.healthscore.nodeCountMissing}}%</td>
                    </tr>
                    <tr>
                        <td>DDS size used</td>
                        <td>{{current_server.healthscore.ddsSizeUsedTiB}}%</td>
                    </tr>
                    <tr>
                        <td>Overall score</td>
                        <td>{{current_server.healthscore.healthscore}}%</td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<!-- END HTML NEEDED FOR THE IMPORTANT MESSAGE MODAL POPUP -->

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Health Score</h3>
                    <small>
                        Score: {{current_server.healthscore.healthscore}}%
                    </small>
                    <hr>
                    <div class="text-center">
                        <div id="healthScore"></div>
                    </div>
					<div id="health-score-summary">
						<button type='button' class="btn btn-default" data-toggle="modal" data-target="#healthscore-modal">show healthscore factors</button>
					</div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Dedupe Size over Time</h5>
                    <hr>
                    <div id="DedupeSizeLine"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
