{% extends 'base.html' %}
{% block content_block %}

    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 style="float: left">{{ company_name }} / Server Table</h3>
                    <div style="float: right"><label style="float:left;">Upload Data&nbsp;&nbsp</label><input value="Upload Data" style="color:transparent; width: 100px;" type="file"></div>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md- 12">
                            <div data-toggle="buttons" class="btn-group">

                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $(".clickable-row").click(function () {
                                    window.location = $(this).data("url");
                                });
                            });

                            </script>

                        <table id="server-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Serial</th>
                                <th>System Install Date</th>
                                <th>System Model</th>
                                <th>Total Capacity (TiB)</th>
                                <th>Total Dedupe ratio</th>
                                <th>Total Dedupe ratio</th>
                                <th>Total Dedupe ratio</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for computer in computers %}
                                <tr class='clickable-row' data-url="{% url 'detail' computer.serialNumberInserv %}">
                                    <td>{{ computer.serialNumberInserv }}</td>
                                    <td>{{ computer.system_installDate }}</td>
                                    <td>{{ computer.system_model }}</td>
                                    <td>{{ computer.capacity_total_sizeTiB }}</td>
                                    <td>{{ computer.capacity_total_dedupeRatio }}</td>
                                    <td>{{ computer.capacity_total_dedupeRatio }}</td>
                                    <td>{{ computer.capacity_total_dedupeRatio }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}