{% extends 'base.html' %}
{% block content_block %}
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Computer Table </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">

                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Win Version</th>
                                <th>Win Product Key</th>
                                <th>Frozen</th>
                                <th>DF Version</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for computer in computers %}
                                <tr class='clickable-row' data-href="{% url 'detail' computer.id %}">
                                    <td>{{ computer.id }}</td>
                                    <td>{{ computer.title }}</td>
                                    <td>{{ computer.type }}</td>
                                    <td>{{ computer.win_version }}</td>
                                    <td>{{ computer.win_product_key }}</td>
                                    <td>{{ computer.frozen }}</td>
                                    <td>{{ computer.df_version }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}