{% extends 'base.html' %}
{% load static %}
{% block content_block %}
    <script src="{% static 'js/healthscore.js' %}"></script>
    <script>
        $(document).ready(function () {
            var scores = $(".healthscore");
            for (var i = 0; i < scores.length; i++) {
                scores[i].append(createHealthscore(scores[i].getAttribute("score")/100, 80, 20, 2, false));
            };
        });
    </script>

    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 style="float: left">{{ company_name }} / Server Table</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md- 12">
                            <div data-toggle="buttons" class="btn-group">

                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $(".clickable-row").click(function () {
                                    window.location = $(this).data("url");
                                });
                            });

                            </script>

                        <table id="server-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Serial</th>
                                <th>System Install Date</th>
                                <th>System Model</th>
                                <th>Total Capacity (TiB)</th>
                                <th>Total Dedupe ratio</th>
                                <th>Health score</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for computer in computers %}
                                <tr class='clickable-row' data-url="{% url 'detail' computer.serialNumberInserv %}">
                                    <td>{{ computer.serialNumberInserv }}</td>
                                    <td>{{ computer.system_installDate }}</td>
                                    <td>{{ computer.system_model }}</td>
                                    <td>{{ computer.capacity_total_sizeTiB }}</td>
                                    <td>{{ computer.capacity_total_dedupeRatio }}</td>
                                    <td><div class="healthscore" score={{  computer.healthscore  }}></div></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}
